*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #a2e3c4;
    text-align: center;
}

.container{
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    /* border: 2px solid black; */
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    font-size: 10vmin;
    color: #7E8D85;
    background-color: #F0F7F4;
}

#reset-btn, #new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #3C493F;
    color: #F0F7F4;
    border-radius: 1rem;
    border: none;

}

#msg{
    color: #7E8D85;
    font-size: 2.5rem;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide{
    display: none;
}